body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #7c2828; 
  color: white; 
  padding: 10px 20px; 
}

nav {
  display: flex; 
  justify-content: space-around; 
}

nav a {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

nav a:hover {
  text-decoration: underline; 
}

h1{
  color:blueviolet
}